extends layout

block content
  h1 The train is off for today!
  p The has been set to continue with the trips from tomorrow.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
